*{outline:1px red solid;}
body{
    background-image:url("http://pre07.deviantart.net/a33c/th/pre/f/2008/037/4/3/cartoon_landscape_2___large_by_marcusaxavier77.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    height:100vh;
    width:100vw;
    font-family: "Bangers",cursive;
} 

.update{
   display:flex;
   justify-content:space-around;
   align-content:center; 
   font-size:4rem;
}

.one {
    height:21vh;
}
.insert{
   display:flex;
   justify-content:center;
   font-size:5rem;
   color:red;
   height:10.175vh;

}

.two{
   display:flex;
   align-items:center;
   height:55vh;

}

.three{
    height:5vh;
}
.four{
    height:10vh;
}
.reset{
   display:flex;
   justify-content:center;
}

.tree{
    display:flex;
    justify-content:center;
    align-self:flex-end;
}

.buttons{
    display:flex;
    justify-content:center;
    font-size:3rem;
}

button{
    border-radius:30px;
}

.medium-button{
    font-size:3.5rem;
}

.mega-button{
    font-size:4rem;
}

#name, #hits, #health{
    color:red;
}

#axe{
    position:absolute;
    right:13.5vw;
    top:42vh;
    /* right:220px;
    top:320px;*/
}
#easy:hover{
    background-color:green;
}

#medium:hover{
    background-color:yellow;
}

#mega:hover{
    background-color:red;
}